.license-query{
  .ant-form-item-label{
    display: inline-block;
    width: 100px;
  }
  .ant-form-item-label+div{
    display: inline-block;
    width: 200px;
    vertical-align: middle;

  }
  .ant-form-item-control{
    line-height: normal;
  }
  .ant-calendar-picker{
    width: 200px;
  }
  .license-form{
    .ant-calendar-picker{
      width: 200px !important;
      min-width: 0 !important;
    }
  }
}