.myform{
  margin-bottom: 15px;
  .ant-input-group-addon .ant-select{
    width:80px;
    .ant-select-selection__rendered{padding-left: 0}
  }
  .inline-input-group{

    >label, >.ant-form-item-label{
      text-align: right;
      display: inline-block;
    }
    .ant-form-explain{
      margin-left: 10px;
    }
    .input-select-group{
      margin-left: 0;
      padding-right: 0;
      .ant-select-enabled{
        width: 35%;
        .ant-select-selection-selected-value{padding-right: 0}
      }
    }
  }
  //.ant-form-item .ant-select-selection__rendered{padding-left: 0}
  .ant-select-selection__placeholder{text-align: left}
  .ant-select-auto-complete.ant-select .ant-select-selection--single{height: 32px}
  .formFields .ant-form-item{margin-bottom: 0}
}


.text-right button{margin-left: 20px}
.card_list{
  .ant-card-body{
    overflow: hidden;
    padding: 24px 24px 14px;
  }
  .ant-col-10{
    div{
      overflow: hidden;
      h5{float: left;margin-top: 0}
      .ant-tag{float: right;margin-left: 10px}
      .type{float: right;margin-top: 5px;}
    }
  }
  .ant-col-6{
    div{float: left;margin-right: 10px}
  }

  .ant-col-1{width: 1px;margin: 0 15px}
  .ant-divider{height: 53px}
}
.page_list{
  margin-top: 15px;
  float: right;
}
.color_2{color: green}
.color_1{color: red}
.color_3{color: gainsboro}
#_time{
  width: 65%;
  display: inline-block;
  .ant-calendar-picker{
    //width: 46%;
    width:initial;
    .ant-calendar-picker-input{width: 100%;padding: 4px 0;margin: 0}
    .ant-calendar-picker-icon{display: none}
  }
}
