.ant-tree-searchable-filter{
  color:#f50;
  transition: all .3s ease;
}
.lg-icon{
  margin-right:8px;
}
.Resource .ant-input-preSuffix-wrapper{
  width: auto;
}
.Resource .fa-ellipsis-v{color: #888;margin-right: 2px;}
