
.unit-id-type-group{
  .ant-form-item{
    margin-bottom: 0;
    display: inline-block;
    input{

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      outline: none;
      &:hover{
        border:1px solid #d9d9d9;
        box-shadow: none;
      }
    }
    &:last-child{

      .ant-form-item-label{
        display: none;
      }
      .ant-form-item-label+div{
        width: 123px;
        margin-left: -15px;
      }
    }
    &:nth-child(1){
      width: 192px;
      .ant-form-item-label+div{
        width: 82px;
      }
    }
  }
}