//== Media queries breakpoints
//
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;
// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


$theme-color-blue:#19a6f8;
$theme-dark-header-color:rgba(255,255,255,0.8);
$theme-light-header-color:#ababab;
$theme-font-size:14px;

// Color
$primary-color          : #108ee9;
$success-color          : #87d068;
$error-color            : #f50;
$highlight-color        : #f50;
$warning-color          : #fa0;
$warning2:#ffcc33;
$normal-color           : #d9d9d9;

$black:rgba(0,0,0,.5);
$grey:#f1f1f1;
$blue: #4032ff;
$grey_normal:#ECECEC;
$dark-grey: #777;
$gray_light:#fbfbfb;
$bg-warning2:#fac45b;

$design-gutter:8px;
$design-gutter_large:15px;

$page-xs-width:$screen-xs;
$page-sm-width:$screen-sm;
$page-md-width:$screen-md;
$page-lg-width:$screen-lg;

$page-header-height:64px;
$page-header-bg-color:rgba(0,0,0,.75);

$main_title:16px;
$title_color:#666666;
$sec_title:14px;
$small_title:12px;
$des_text_color:#999999;
$invalid_color:#cccccc;
$link_color:#2db7f5;
$sub_title_gray:#989898;


$menu_width: 200px;
$width_xs: 100px;
$width_sm: 150px;
$width_de: 200px;
$width_lg: 300px;
$font_sm:12px;
$font_md:18px;
$font_lg:22px;
$font_xlg:32px;