.no-content{
  background: #fbfbfb;
  text-align: center;
  height: 100%;
  .space-bar{
    background: #fbfbfb;
    height: 200px;
    position: relative;
    img{
      position: absolute;
      top:0;
      left: 100px;
    }
  }
  .desc{
    i{
      display: inline-block;
      width: 12px;
      height: 12px;
      background: #345e7e;
      border-radius: 12px;
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
      margin-left: 8px;
    }
  }
}
